$primary-color: #0075f3;
$primary-darker-color: darken(#0075f3, 5%);
$orange-color: #ffae22;
$orange-darker-color: darken(#ffae22, 5%);
$red-color: #dc3545;
$red-darker-color: darken(#dc3545, 5%);
$green-color: #449c59;
